@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Roboto");

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.ancho {
    margin-left: 20%;
    margin-right: 20%;
}

.margen-interno {
    padding: 3%; 
}